@import "nullstyle.scss";

.wrapper {
	max-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	//justify-content: space-between;*/
	background-color: red;
}

main {
	flex: 1 1 auto;
}

.header {
	min-height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: tan;
	font-size: 20px;
}

.chat {
	display: flex;
	justify-content: space-between;
	height: 400px;

	&__users-list {
		min-width: 200px;
		background-color: royalblue;
		overflow-y: auto;
		padding: 10px 0 0 20px;
		li {
			padding: 2px 0;
		}
	}

	&__body {
		background-color: saddlebrown;
		font-size: 14px;
		overflow-y: auto;

		padding: 30px 20px 10px 40px;
	}
}
.footer {
	font-size: 20px;
	min-height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: sienna;
}
